.custom-navbar {
    /* background-color: #413e3e; */
    padding-top: 45px;
    padding-bottom: 45px;
  }

.navbar-text{
  color: white;
  font-size: 35px;
  font-weight: 400;
  padding-right: 40px !important;
}
.navbar-text.nav-link:hover {
  color: goldenrod;
}
.navbar-text.nav-link.active {
  color: goldenrod;
}
/* .about-text{
  font-size: 100px;
  color: white;
  font-weight: bold;
} */

.profile-image{
  width: 100%;
  height: auto;
  position: relative;
}
/* .about-description{
  font-size: 20px;
  color: white;
  word-break: break-all;
} */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-text {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: bold;
  /* padding-left: 390px; */
}

.about-description {
  margin-top: 20px;
  max-width: 600px; 
  font-size: 20px;
  color: white;
  padding-bottom: 60px;
  text-align: justify;
  line-height: 30px;
 
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.skills-text {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
}

.card-style{
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-size: cover;
 background-color: #565353;
}

.margin{
  margin-bottom: 24px;
}

.skill-iamge{
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-text{
 font-size: 28px;
 font-weight: 700;
 color: white;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.experience-text {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
  /* padding-left: 115px; */
}

.experience-heading {
  font-size: 40px;
  color: goldenrod;
  font-weight: bold;
}

.experience-sub-heading {
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin-bottom: 12px;
}

.experience-description {
  margin-top: 20px;
  max-width: 600px; 
  font-size: 20px;
  color: white;
  padding-bottom: 25px;
 
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-text {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.project-heading {
  font-size: 40px;
  color: goldenrod;
  font-weight: bold;
}

.project-description {
  margin-top: 20px;
  max-width: 600px; 
  font-size: 20px;
  color: white;
  padding-bottom: 60px;
  line-height: 30px;
  text-align: justify;
}

.homepage-sectionchange-margin{
  margin-top: 70px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.contact-text-heading {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
}

.contact-card-style{
  width: 100%;
  height: 115px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-size: cover;
 background-color: #565353;
}


.contact-iamge{
  margin-top: 12px;
  margin-bottom: 70px;
  margin-right: 70px;
  margin-left: 30px;
}

.contact-text{
 font-size: 28px;
 font-weight: 700;
 color: white;
 margin-bottom: 48px;
}

